
// colors for pages

$manincolor: #F0FFFF
$secondcolor: #F5F5DC


// width of screen - optimal box size for PC, tablet and phone
$breakpoint-4: 1921px
$breakpoint-3: 1500px
$breakpoint-tablet: 950px
$breakpoint-phone: 500px



// main and common parts for pages
html, body
   width: 100%
   height: 100%
   margin: 0px
   padding: 0px
   overflow-x: hidden

.header
   background-color: $manincolor
   ul
      width: 100%
      li
         list-style: none
         float: left
         width: 20%
         a
            text-decoration: none
            font-size: 22px
            padding: 16px
            display: block
            text-align: justify
            @media screen and (min-width: $breakpoint-4)
               font-size: 40px
      .addb
         float: right
         padding-left: 10px
         @media screen and (max-width: $breakpoint-tablet)
            padding-right: 4em
         @media screen and (max-width: $breakpoint-phone)
            padding-right: 4em

   ul::after
      content: ""
      display: block
      clear: both

.footer
   background-color: $manincolor
   text-align: center
   font-size: 20px
   @media screen and (min-width: $breakpoint-4)
      font-size: 35px
body
   background-color: $secondcolor

.errorType
   color: red

.error
   color: red



// index page

.deleteb
   text-align: right
   position: relative
   top: -50px
   right: 60px
   @media screen and (max-width: $breakpoint-tablet)
     top: -20px
     right: 60px
   @media screen and (max-width: $breakpoint-phone)
     text-align: center
     position: relative
     top: 0px
     right: 0px

   input
     font-size: 18px
     @media screen and (min-width: $breakpoint-4)
         font-size: 28px
   p
      position: sticky
      font-size: 20px
      @media screen and (min-width: $breakpoint-4)
         font-size: 40px


.containers
   position: inherit
   align-items: center
   padding-right: 3em
   padding-left: 3em
   @media screen and (max-width: $breakpoint-tablet)
      padding-right: 2em
      padding-left: 2em
   @media screen and (max-width: $breakpoint-phone)
      padding-right: 1em
      padding-left: 1em


.wrap
   display: grid
   grid-template-columns: repeat(4,1fr)
   grid-auto-rows: minmax(100px, auto)
   grid-auto-columns: minmax(100px, auto)
   grid-column-gap: 4em
   grid-row-gap: 2em
   padding: 1em
   font-size: 20px

   @media screen and (min-width: $breakpoint-4)
      grid-template-columns: repeat(5,1fr)
      font-size: 30px
   @media screen and (max-width: $breakpoint-3)
      grid-template-columns: repeat(3,1fr)
   @media screen and (max-width: $breakpoint-tablet)
      grid-column-gap: 3em
      grid-row-gap: 2em
      grid-template-columns: repeat(2,1fr)
   @media screen and (max-width: $breakpoint-phone)
      grid-template-columns: repeat(1,1fr)


   > div
      background: #eee
      padding: 1em
      border: #333 1px solid
      text-align: left

   > div:nth-child(odd)
      background: #ddd

.infoC
   li
      list-style: none
      text-align: center
      padding: 0.5em


.detailb
   text-align: right
   position: relative
   top: 7px
   a
      text-decoration: none

.checkboxb
   text-align: left

.optionSelect
  font-size: 18px
  @media screen and (min-width: $breakpoint-4)
     font-size: 24px


//add page

.adding
  padding-left: 3em
  padding-right: 3em
  font-size: 20px
  @media screen and (min-width: $breakpoint-4)
     font-size: 30px

.addInfo
   padding-top: 1em
   padding-right: 1em
   input
      font-size: 18px
      @media screen and (min-width: $breakpoint-4)
         font-size: 25px

.addingLabel
   width: 70px
   display: inline-block
   @media screen and (min-width: $breakpoint-4)
      display: inline-block
      width: 90px

.chooseHelp
  @media screen and (max-width: $breakpoint-phone)
   display: inline-block
   width: 240px
   padding-left: 0em
   padding-right: 0em
   font-size: 18px

.typeSwitcher
   font-size: 18px
   @media screen and (min-width: $breakpoint-4)
      font-size: 25px
.nname
   text-align: left
   padding-left: 3em
   @media screen and (min-width: $breakpoint-4)
      font-size: 32px
   @media screen and (max-width: $breakpoint-tablet)
     padding-left: 0em
     display: flex
     justify-content: center
     align-items: center
   @media screen and (max-width: $breakpoint-phone)
     padding-left: 0em
     display: flex
     justify-content: center
     align-items: center

.package
   display: none



//Details page

.detailBox
   display: flex
   justify-content: center
   align-items: center
   padding-top: 1em

.detailsAll
   background-color: $manincolor
   text-align: left
   height: 1fr
   width: 1fr
   padding-left: 2em
   padding-right: 2em
   border: #333 1px solid
   font-size: 20px
   @media screen and (min-width: $breakpoint-4)
      font-size: 30px
   @media screen and (max-width: $breakpoint-phone)
      font-size: 17px

.deleteDetail
   padding-top: 2em
   display: flex
   justify-content: flex-end

.btn
   font-size: 18px
   @media screen and (min-width: $breakpoint-4)
      font-size: 28px
   @media screen and (max-width: $breakpoint-phone)
      font-size: 15px

.checkboxb
   zoom: 1.5
